<p-table [value]="pedidos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>N° Orden</th>
            <th>Usuario</th>
            <th>Telefono</th>
            <th>Descripcion</th>
            <th>Direccion</th>
            <th>Estado</th>
            <th>Forma de Pago</th>
            <th>Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
        <tr>
            <td>{{pedido.num}}</td>
            <td>{{pedido.usuario.usuario}}</td>
            <td>{{pedido.usuario.telefono}}</td>
            <td>{{pedido.descripcion}}</td>
            <td>{{pedido.direccion}}</td>
            <td>{{pedido.estado.nom}}</td>
            <td>{{pedido.forma_de_pago.nom}}</td>
            <td>${{pedido.total}}</td>
        </tr>
    </ng-template>
</p-table>