<p-table [value]="productos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio | currency:'$' }}</td>
        </tr>
    </ng-template>
</p-table>

