<p-table [value]="Usuarios" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre y apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Direccion/es</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.nom_ape}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.telefono}}</td>
            <td>{{user.direccion[user.direccion.length - 1]}}</td>
        </tr>
    </ng-template>
</p-table>
