div.contenedor {
	text-align :center;
	align-items : center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

small.p-error {
	color: red;
}

div{
	margin-top:20px;
}

img.logo{
	max-width:100px;
	max-height :100px;
}