<div class="contenedor">
    <h1>Bienvenidos a Delilah Resto!!! </h1>
        <div >
            <img class="logo" src="./../../../assets/logo-usuario-login.png">
        </div>
        <div>
            <form [formGroup]="formsLogin">
                <div class="p-fluid mt-2">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input formControlName="usuario" class="p-inputtext-sm {{invalid}}" id="usuario" type="text" pInputText>
                            <label for="usuario">Usuario</label>
                        </span>
                        <small *ngIf="invalid != ''" id="username2-help" class="p-error">Campo requerido</small>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input formControlName="contrasenia" class="p-inputtext-sm {{invalid}}" id="contrasenia" type="password" pInputText>
                            <label for="contrasenia">Contraseña</label>
                        </span>
                        <small *ngIf="invalid != ''" id="username2-help" class="p-error">Campo requerido</small>
                    </div>              
                    <div class="p-field">
                        <span class="p-float-label">
                            <button pButton  class="p-button-success" styleClass="p-button-sm" (click)="enviar()" label="Iniciar" ></button>
                        </span>
                    </div> 
                    <div class="p-field">
                        <span class="p-float-label">
                            <button pButton  class="p-button-danger " styleClass="p-button-sm " (click)="InicioGoogle()" icon="pi pi-google" label="Iniciar con Google" ></button>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <button pButton  class="p-button-info" styleClass="p-button-sm" (click)="InicioFacebook()" icon="pi pi-facebook" label="Iniciar con Facebook" ></button>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <button pButton  class="p-button-secondary" styleClass="p-button-sm" (click)="InicioLinkedin()" icon="pi pi-linkedin" label="Iniciar con LinkedIn" ></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
 </div>
