<div>
    <span style="background-color:white;display:flex;padding:10px">
        <p-tabMenu [model]="items"></p-tabMenu>
        <button pButton (click)="CerrarSesion()" class="p-button-danger" icon="pi pi-sign-out" label="Cerrar Sesion" ></button>
    </span>
    <app-productos *ngIf="activeItem.label == 'Productos'"></app-productos>
    <app-pedidos *ngIf="activeItem.label == 'Pedidos'"></app-pedidos>
    <app-medios-pago *ngIf="activeItem.label == 'Medios de Pago'"></app-medios-pago>
    <app-usuario *ngIf="activeItem.label == 'Editar Perfil'"></app-usuario>
</div>
