<p-table [value]="mediodepagos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mdp>
        <tr>
            <td>{{mdp.nom}}</td>
        </tr>
    </ng-template>
</p-table>
